@media screen and (max-width:632px){
body{
	background-size: 100%;
	position: absolute;
}
.logo{
	height: 80px;
	width: 60px;
	left: 5px;
}
.dis{
	width: 220px;
	left: -20px;
	top: 432px;
	width: 310px;
}
.work{
	position: relative;
	left: 10px;
	font-size: 50px;
	top: 160px;

}

.sen{
	position: relative;
	top: 220px;
	left: 10px;
	font-size: 16px;
	display: flex;
	font-weight: 500;
}
.top{
	width: 550px;
	height: 675px;
}
nav ul{
    position: absolute ;
	margin-left: -5rem;
	top: 90px;
	padding: 4px;
	z-index: 0;
	display: flex;
	font-size: 30px;
	
	align-items: center;
}
nav ul li{
    position: absolute;
    top: 10px;
    display: flex;
	padding: 1.2rem;
	margin-top: 0.8rem;
	font-size: 30px;
	
    
}
nav ul li a:before{
    
	height: 200px;
	left: 20px;
	padding: 5px;
	
}
.midt{
    left: -5px;
    top: 675px;
    font-size: 34px;
}
.midt2{
    
    float: left;
    width: 350px;
    height: 150px;
    
    padding: 10px;
    left: -9px;
    margin-right: 6px;
    top: 750px;
    font-weight: 500;
    
    flex-wrap: wrap;
    flex: 200px;
}
.bulb{
    width: 340px;
    height: 200px;
    left: 10px;
    top: 880px;
}
.middle{
    height: 500px;
    top: 1150px;
}
.jenny{
    top: 1150px;
    
}
.midt3{
    font-size: 16px;
    top: 1270px;
    left: 8px;
    float: left;
    width: 350px;
    height: 290px;
    
    overflow-y: hidden;
    
}
.bottom{
    height: 150px;
}
.insta{
    left: 30px;
    height: 1500px;
    width: 50px;
    height: 50px;
    top: 1675px;
}
.brow{
    left: 105px;
    height: 1500px;
    width: 50px;
    height: 50px;
    top: 1675px;
}
.twit{
    left: 180px;
    height: 1500px;
    width: 50px;
    height: 50px;
    top: 1675px;
}
.yt{
    left: 250px;
    height: 1500px;
    width: 50px;
    height: 50px;
    top: 1675px;
}
.comma{
    left: 1px;
    top: 1220px;
    width: 42.5px;
    height: 42.5px;
    overflow-y: hidden;
}
.item{
    align-self: center;
    position: relative;
    padding-bottom: 5px;
    font-size: 30px;
}
